<div>
<div class="col-md-8 col-sm-7">
<div class="portlet">

  <h3 class="portlet-title">
    <u>
        {{ name }}
    </u>
    <span class="filter-box">
        <span style="display: block" class="pull-right">
            <select class="form-control year" style="color: #555">
                <option>dowolny</option>
                {{#each years }}
                <option>{{this}}</option>
                {{/each}}
            </select>
        </span>
        <span style="display:block; font-size: 16px; color: #555; padding-top: 8px; margin-right: 7px;" class="pull-right">Rocznik</span>
    </span>
  </h3>

  <div class="portlet-body">
    <div class="row-fluid city-container"></div>
  </div> <!-- /.portlet-body -->

</div> <!-- /.portlet -->

</div> <!-- /.col -->

<div class="col-md-4 col-sm-5">

    <div class="portlet">

      <h4 class="portlet-title">
        <u>Informacje</u>
      </h4>

      <div class="portlet-body">

        <p style="line-height: 25px;">Statystyki dotyczą wybranego miasta. Absolwenci są przypisani do miast na podstawie informacji o <span style="font-weight: bold">karierze zawodowej</span> oraz <span style="font-weight: bold">uczelniach</span>, na których studiowali.</p>

        <hr>

        <table class="table keyvalue-table">
          <tbody>
            <tr>
              <td class="kv-key"><i class="fa fa-users kv-icon kv-icon-primary"></i> <a href="javascript:;" class="people" style="color: #555">powiązani absolwenci</a></td>
              <td class="kv-value">{{ people_count }} </td>
            </tr>
            <tr>
              <td class="kv-key"><i class="fa fa-university kv-icon kv-icon-secondary"></i> <a href="javascript:;" class="universities" style="color: #555; ">uczelnie</a></td>
              <td class="kv-value">{{ university_count }} </td>
            </tr>
            <tr>
              <td class="kv-key"><i class="fa fa-suitcase kv-icon kv-icon-tertiary"></i><a href="javascript:;" class="companies" style="color: #555">firmy</a></td>
              <td class="kv-value">{{ companies_count }}</td>
            </tr>
          </tbody>
        </table>

      </div> <!-- /.portlet-body -->

    </div> <!-- /.portlet -->

  </div> <!-- /.col -->
</div>