<h5>{{ company.name }}, {{ name }}</h5>
<h6 class="text-muted">Branża: {{ branch.name }}</h6>
<h6 class="text-muted">{{ city.name }}, {{#beautifydate start}}{{ start }}{{/beautifydate}} - {{#if end }}{{#beautifydate end}}{{ end }}{{/beautifydate}}{{else}}obecnie{{/if}}</h6>
<hr>