<h5>{{ university.name }}, {{ school }}</h5>
{{#if department }}
<h6 class="text-muted">Wydział: {{ department.name }}</h6>
{{/if}}
<h6 class="text-muted">{{#beautifydate start}}{{ start }}{{/beautifydate}} - {{#if end }}{{#beautifydate end }}{{ end }}{{/beautifydate}}{{ else }}obecnie{{/if}}</h6>
<br>